{% extends "base.twig" %}

{% block title %}- Dashboard{% endblock %}

{% block content %}

    <div class="col-md-12">
        <h1>Dashboard</h1>
        <h3>{{conference.name}}</h3>
        <p>{{conference.start_date}} - {{conference.end_date}}</p>
    </div>

    <h3>Total Registrations: {{registrationcount}}</h3>

    <br />
    <p>Tabular snapshot below, more information/analysis available on request.</p>

    <br />
    <table class="table table-striped table-hover">
        <tr>
            {% for key in registrationkeys %}
                <th>{{key}}</th>
            {% endfor %}
        </tr>
            {% for registration in registrationdata %}
                <tr>
                    {% for key in registrationkeys %}
                        <td class="column-left">{{registration[key]}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
    </table>

    <hr />

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h3>Country Breakdown</h3>
                <canvas id="CountryBreakdown"></canvas>
            </div>
            <div class="col-md-6">
                <h3>Primary Role in KDE</h3>
                <canvas id="PrimaryRole"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <canvas id="DietaryRequirements" height=75></canvas>
            </div>
        </div>
    </div>

    <div class="row">
        <h3>T-Shirt Pre-Order</h3>

        <div class="col-md-6">
            <table class="table">
                <tr><th>dn</th><th>size</th></tr>
                {% for reservation in merchReservations %}
                    <tr><td>{{ reservation.dn }}</td><td>{{ reservation.variation }}</td></tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr><th>Size</th><th>Count</th></tr>
                        {% for key, value in sizes %}
                            <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <canvas id="SizeBreakdown"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
        {% for profile in profiledata %}
            <div class="col-md-4" style="text-align: left; display: inline-block; min-height: 300px">
            {% for key, info in profile %}
                <strong>{{key}}:</strong> {{info}}<br />
            {% endfor %}
            <br />
            </div>
            <hr />
        {% endfor %}
        </div>

    <script type="text/javascript">
        var countryBreakdown = function() {
            var ctx = document.getElementById("CountryBreakdown");
            var CountryBreakdown = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: {{ countrylist | raw }},
                    datasets: [{
                        label: 'Country',
                        data: {{ countryvalues | raw }},
                        borderWidth: 1
                    }]
                }
            });
        };

        var primaryRole = function() {
            var ctx = document.getElementById("PrimaryRole");
            var PrimaryRole = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: {{ primaryrolelist | raw }},
                    datasets: [{
                        label: 'Primary Role in KDE',
                        data: {{ primaryrolevalues | raw }},
                        borderWidth: 1
                    }]
                }
            });
        };

        var dietaryRequirements = function() {
            var ctx = document.getElementById("DietaryRequirements");
            var DietaryRequirements = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{ dietaryrequirementslist | raw }},
                    datasets: [{
                        label: 'Dietary Requirement',
                        data: {{ dietaryrequirementsvalues | raw }},
                        borderWidth: 1
                    }]
                }
            });
        };

        var sizeBreakdown = function() {
            var ctx = document.getElementById("SizeBreakdown");
            var DietaryRequirements = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: {{ sizelist | raw }},
                    datasets: [{
                        label: 'Primary Role in KDE',
                        data: {{ sizevalues | raw }},
                        borderWidth: 1
                    }]
                }
            });
        };
        
        var initPage = function() {
            countryBreakdown();
            primaryRole();
            dietaryRequirements();
            sizeBreakdown();
        }
    </script>

{% endblock %}